@tailwind base;
@tailwind components;
@tailwind utilities;


.grid {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 8px;
}
.grid div {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}
